.vänstertorn {
  order: 0;
  flex-shrink: 3;
  width: 20%;
}
.högertorn {
  order: 2;
  flex-shrink: 3;
  width: 20%;
}
.dörr {
  order: 1;
  width: 20%;
}
.dörr.invisible {
  display: none;
}
.slott {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap;
}
.p {
  width: 1fr;
  height: 1fr;
}
.länk {
  display: none;
}
.länk.invisible {
}
